.currency-list {
    border: 1px solid #006400;
    box-shadow: 0 0 3px #238e8e;
    background: #d6e6e6;
    color: #333;
    padding: 10px;
    padding-right: 75px;
    position: relative;
    .currency-del {
        border-left: 1px solid #238e8e;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 65px;
        button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
    &__head {
        overflow: hidden;
        > div {
            font-size: 1.6rem;
            @media screen and (max-width: 1023px) {
                font-size: 1.2rem;
            }
        }
        &-left {
            float: left;
            width: 45px;
        }
        &-right {
            float: right;
            width: calc(100% - 45px);
            text-align: right;
        }
    }
    .currency-name {
        font-weight: bold;
        font-style: italic;
        margin: 5px 0;
    }
    .currency-rate {
        font-style: italic;
    }
}